<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Install Capacity Calculator/src/installed/Installedcapacity.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="installed.Installedcapacity"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Install Capacity Calculator"/>
</launchConfiguration>
